
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Matches {
  width: 100%;
  margin: auto;
  justify-items: center;
}


.header {
  width: 100%;
  padding: 2%;
  background-color: grey;
  color: orange;
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
  "name name"
  "1st 2nd" ;
  padding: 0px 2px 80px 2px;

} 

h1 {
  grid-area: name;
  text-align: center;
}

.table {
  text-align: center;
  line-height: 60px;
  border: 1px solid #e9e9db;
}

td {
  border: 1px solid #e9e9db;
}

.even {
  background-color: blanchedalmond;
}

.odd {
  background-color: rgba(87, 240, 232, 0.1) ;
}